rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow email checks
      allow list: if request.query.limit == 1
        && request.query.filters.size == 1
        && request.query.filters[0].field == "email"
        && request.query.filters[0].op == "==";

      // Allow authenticated operations
      allow create: if request.auth != null;
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      // Allow users to read and write their own orders
      allow read, write: if request.auth != null && 
        (resource == null || resource.data.customerId == request.auth.uid);
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    match /items/{userId}/{allPaths=**} {
      // Allow users to upload and read their own images
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
} 